<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rain of Dudes</title>
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <div class="startScreenContainer">
      <form action="javascript:void(0);">
        <input
          id="inputYourName"
          type="text"
          placeholder="Введите имя"
          required
          maxlength="15"
          minlength="1"
        />

        <input id="playButton" type="submit" value="Играть!" />
        <div class="joinSpecialRoom">
          <div class="nameofRoomDesc">
            Чтобы присоединиться к конкретной комнате введите её название:
          </div>
          <input
            id="inputNameOfRoom"
            type="text"
            placeholder="Название комнаты"
            maxlength="5"
            minlength="5"
          />
        </div>
      </form>

      <div class="tutorial t1">
        <div class="desc">
          Чтобы спасти вашего чувака перетаскивайте огонь. Спасательная шлюпка
          послана только одна, только 1 из вас может спастись. <br />
          При наведении на огонь мышкой, он подсвечивается зелёным, это значит,
          что вы можете схватить и перетащить огонь
        </div>
        <div class="imgFire"></div>
      </div>
      <div class="tutorial t2">
        <div class="desc">
          Вокруг вражеских чуваков есть зона, которая при наведении
          подсвечивается красным, если вы перетащите в неё огонь он перейдёт в
          другое измерение, для вас это будет выглядеть как таинственное
          исчезновение
        </div>
        <div class="cloosedZoneImg"></div>
      </div>
      <div class="tutorial t3">
        <div class="desc">
          Вы можете уменьшить масштаб игры покрутив колёсико мыши или сделав
          жест уменьшения экрана
        </div>
      </div>
    </div>
    <div class="gameUi">
      <div class="roomName"></div>
      <ul class="users"></ul>
      <div class="underUsers"></div>
      <div class="gameControlButtons">
        <button class="quitRoomButton">Выйти из комнаты</button>
        <button class="readyButton"></button>
      </div>
    </div>

    <div class="gameEnd">
      <div class="appearAnimationContainer">
        <div>
          <div class="result">
            <h2 class="score"></h2>
            <div class="underScore"></div>
          </div>
          <ul class="usersListWithScore"></ul>
          <div class="controllButtons">
            <button class="quitRoomButton">Выйти из комнаты</button>
            <button class="backToTheGame">ИГРАТЬ!</button>
          </div>
        </div>
      </div>
    </div>
    <script src="bundle.js?v2"></script>
  </body>
</html>
