<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rain of Dudes</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <div class="startScreenContainer">
      <form action="javascript:void(0);">
        <input
          id="inputYourName"
          type="text"
          placeholder="Введите имя"
          required
        />

        <input id="playButton" type="submit" value="Играть!" />
      </form>
    </div>
    <div class="gameUi">
      <div class="roomName"></div>
      <ul class="users"></ul>
      <div class="gameControlButtons">
        <button class="quitRoomButton">Выйти из комнаты</button>
        <button class="readyButton"></button>
      </div>
    </div>
    <script src="bundle.js?v2"></script>
  </body>
</html>