body {
  margin: 0;
}
.startScreenContainer {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #5da6e0ff;
  font-family: Arial, Helvetica, sans-serif;
}
#inputYourName {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  max-width: 500px;
  text-align: center;
  background: no-repeat;
  border: none;
}
#playButton {
  background-color: #0ab30a;
  width: 100%;
  height: 50px;
  font-size: 2em;
  color: white;
  max-width: 500px;
  outline: none;
  border: none;
}
.startScreenContainer form,
.tutorial {
  width: 60%;
  max-width: 500px;
  background: url("/assets/clouds.svg") no-repeat;
  background-size: cover;
  padding: 50px 47px;
}
@media screen and (max-width: 426px) {
  .startScreenContainer form,
  .tutorial {
    width: 60%;
    max-width: 500px;
    background: url("/assets/cloudsmobile.svg") no-repeat;
    background-size: cover;
    padding: 80px 47px;
  }
}
.nameofRoomDesc {
  background-color: #ffffff87;
  margin-top: 25px;
  text-align: center;
}
.gameUi {
  display: none;
  position: absolute;
  background-color: #00000038;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.users {
  margin: 5px 0;
  list-style: decimal;
  padding-left: 20px;
}
.quitRoomButton {
  text-transform: uppercase;
  background-color: #c80707;
  color: white;
  padding: 5px;
  outline: none;
  border: none;
}
.readyButton {
  border: none;
  padding: 5px;
}
.readyButton.ready {
  background-color: #41e320;
}
.readyButton.notready {
  background-color: #c80707;
  color: white;
}

.users .usersTextContainer {
  display: flex;
  justify-content: space-between;
}

.users li .ready {
  color: #41e320;
}
.users li .notready {
  color: #c80707;
}

.gameEnd {
  display: flex;
  visibility: hidden;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.gameEnd .appearAnimationContainer {
  background-color: #173144;
  padding: 0;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 0;
  max-height: 0;
  transition: 1s all;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.gameEnd .appearAnimationContainer .result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gameEnd .backToTheGame {
  text-transform: uppercase;
  padding: 5px;
  outline: none;
  border: none;
}
.gameEnd .backToTheGame.notReadyToStart {
  background-color: #075000;
  color: #a19f9f;
}
.gameEnd .backToTheGame.notReadyToStart::after {
  content: "Нужно дождаться, когда остальные игроки доиграют";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
}
.gameEnd .backToTheGame.readyToStart {
  background-color: #21ce10;
  color: #000000;
}
.gameEnd .usersListWithScore {
  list-style: none;
  padding: 0;
}
.gameEnd .usersListWithScore li {
  display: flex;
  justify-content: space-between;
}

.gameEnd .usersListWithScore li .ready {
  color: #41e320;
}
.gameEnd .usersListWithScore li .notready {
  color: #c80707;
}

#inputNameOfRoom {
  margin-top: 25px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  background-color: none;
  background: none;
  border: none;
}
.tutorial {
  display: flex;
}

.tutorial .desc {
  background-color: #ffffff87;
  width: 50%;
}

.tutorial .imgFire {
  background: url(/assets/tutorialFire.svg) no-repeat;
  background-size: contain;
  width: 200px;
  background-position: center;
}

.tutorial .cloosedZoneImg {
  background: url(/assets/tutorialCloseZone.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
}

.tutorial.t3 .desc {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.tutorial.t1 {
  padding-top: 70px;
  padding-bottom: 51px;
}

.tutorial.t2 {
  padding-top: 90px;
  padding-bottom: 80px;
}


@media screen and (max-width: 426px) {
  .tutorial {
    display: block;
  }
  .tutorial .desc {
    width: 100%;
  }
  .cloosedZoneImg, .imgFire {
    width: 100%;
    height: 200px;
    margin: auto;
  }
}

